{{page-title 'Rock & Roll with Octane'}}

{{! Formatting and styling for a simplistic title page. }}

<div class='rr-container'>
  <div class='rr-page-header'>
    <h1 class='rr-app-title'>
      Rock & Roll
      <small class='rr-subtitle'>
        with Ember Octane
      </small>
    </h1>
    <hr />
  </div>
  <div class='rr-main-content'>
    {{outlet}}
    {{! To properly display any and enable
                  navigation to nested routes such as
                  the /bands page. }}
  </div>
</div>